Howen:style-web howen$ 
Howen:style-web howen$ vi .gitignore 


















**/.DS_Store
**/.log
test/
logs
target
/app-2.11
/test-2.11
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.history
/*.iml
/out
/.cache*
/*.gz
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
