<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.PinSkuMapper">
    <sql id="pinSkuColumns">
        ${alias}.pin_id,
        ${alias}.pin_img,
        ${alias}.share_url,
        case
            when ${alias}.start_at &gt;CURRENT_TIMESTAMP(0) then 'P'
            when ${alias}.end_at  &lt;CURRENT_TIMESTAMP(0) then 'D'
            else ${alias}.status
        end as status,
        ${alias}.create_at,
        ${alias}.update_at,
        ${alias}.pin_title,
        ${alias}.start_at,
        ${alias}.end_at,
        ${alias}.restrict_amount,
        ${alias}.floor_price,
        ${alias}.inv_id,
        ${alias}.pin_discount
    </sql>

    <select id="getPinSkuById" resultType="domain.PinSku" parameterType="java.lang.Long">
        select
        <include refid="pinSkuColumns">
            <property name="alias" value="t"/>
        </include>
        from pin_sku t where pin_id = ${value}
    </select>

    <sql id="tieredPriceColumns">
        ${alias}.id,
        ${alias}.master_coupon_class,
        ${alias}.master_coupon_start_at,
        ${alias}.master_coupon_end_at,
        ${alias}.master_coupon_quota,
        ${alias}.member_coupon,
        ${alias}.member_coupon_class,
        ${alias}.member_coupon_start_at,
        ${alias}.member_coupon_end_at,
        ${alias}.member_coupon_quota,
        ${alias}.pin_id,
        ${alias}.people_num,
        ${alias}.price,
        ${alias}.master_min_price,
        ${alias}.member_min_price,
        ${alias}.master_coupon
    </sql>

    <select id="getTieredPriceByPinId" parameterType="java.lang.Long" resultType="domain.PinTieredPrice">
        select
        <include refid="tieredPriceColumns">
            <property name="alias" value="t"/>
        </include>
        from pin_tiered_price t where t.pin_id = ${value} order by t.people_num
    </select>

    <select id="getTieredPriceById" parameterType="domain.PinTieredPrice" resultType="domain.PinTieredPrice">
        select
        <include refid="tieredPriceColumns">
            <property name="alias" value="t"/>
        </include>
        from pin_tiered_price t where t.id = #{id}
        <if test="pinId!=null and pinId!=''">
            and t.pin_id = #{pinId}
        </if>
        order by t.people_num
    </select>

    <insert id="insertPinActivity" parameterType="domain.PinActivity" useGeneratedKeys="true" keyProperty="pinActiveId">
        insert into pin_activity (
        pin_id           ,
        master_user_id   ,
        person_num       ,
        pin_price        ,
        join_persons     ,
        create_at        ,
        status,
        end_at,
        pin_tiered_id
        ) values (
        #{pinId},
        #{masterUserId},
        #{personNum},
        #{pinPrice},
        #{joinPersons},
        CURRENT_TIMESTAMP(0),
        #{status},
        #{endAt},
        #{pinTieredId}
        )
    </insert>

    <update id="updatePinActivity" parameterType="domain.PinActivity">
        update pin_activity set
        update_at= CURRENT_TIMESTAMP(0)
        <if test="status!=null and status!=''">
            ,status = #{status}
        </if>
        <if test="joinPersons!=null and joinPersons!=''">
            ,join_persons = #{joinPersons}
        </if>
        <if test="pinUrl!=null and pinUrl!=''">
            ,pin_url = #{pinUrl}
        </if>
        where pin_active_id = #{pinActiveId}
    </update>

    <select id="selectPinActivityById" parameterType="java.lang.Long" resultType="domain.PinActivity">
        select
        pin_active_id    ,
        pin_id           ,
        master_user_id   ,
        person_num       ,
        pin_price        ,
        join_persons     ,
        create_at        ,
        status           ,
        end_at           ,
        pin_url,
        pin_tiered_id
        from pin_activity where pin_active_id = ${value} order by create_at
    </select>

    <select id="selectPinActivity" parameterType="domain.PinActivity" resultType="domain.PinActivity">
        select
        pin_active_id    ,
        pin_id           ,
        master_user_id   ,
        person_num       ,
        pin_price        ,
        join_persons     ,
        create_at        ,
        status           ,
        end_at           ,
        pin_url,
        pin_tiered_id
        from pin_activity where 1=1
         <if test="pinId!=null and pinId!=''">
             and pin_id = #{pinId}
         </if>
        <if test="masterUserId!=null and masterUserId!=''">
            and master_user_id=#{masterUserId}
        </if>
        <if test="status!=null and status!=''">
            and status = #{status}
        </if>
         order by create_at
    </select>


    <insert id="insertPinUser" parameterType="domain.PinUser" useGeneratedKeys="true" keyProperty="id">
        insert into pin_user (
        user_id         ,
        or_master       ,
        pin_active_id   ,
        user_ip         ,
        or_robot        ,
        user_img,
        join_at
        ) values (
            #{userId},
            #{orMaster},
            #{pinActiveId},
            #{userIp}::cidr,
            #{orRobot},
            #{userImg},
            CURRENT_TIMESTAMP(0)
        )
    </insert>

    <select id="selectPinUser" parameterType="domain.PinUser" resultType="domain.PinUser">
        select
        id              ,
        user_id         ,
        or_master       ,
        pin_active_id   ,
        user_ip         ,
        or_robot        ,
        user_img,
        join_at
        from pin_user
        where 1=1
        <if test="id!=null and id!=''">
            and id=#{id}
        </if>
        <if test="pinActiveId!=null and pinActiveId!=''">
            and pin_active_id = #{pinActiveId}
        </if>
        <if test="userId!=null and userId!=''">
            and user_id = #{userId}
        </if>
        order by or_master DESC
    </select>

</mapper>