<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ShoppingCartMapper">

    <!--enable mybatis default cache configure reference:
        https://mybatis.github.io/mybatis-3/zh/sqlmap-xml.html#cache
    -->
    <!--<cache/>-->

    <sql id="shoppingCartColumns">
        ${alias}.cart_id
        ,${alias}.user_id
        ,${alias}.sku_id
        ,${alias}.item_id
        ,${alias}.amount
        ,${alias}.price
        ,${alias}.add_at
        ,${alias}.destroy_at
        ,${alias}.update_at
        ,${alias}.order_id
        ,${alias}.status
    </sql>

    <!---  获取用户购物车,以用户ID或者CartID    -->

    <select id="getCartByID" resultType="domain.Cart" parameterType="domain.Cart">
        select
        <include refid="shoppingCartColumns">
            <property name="alias" value="t"/>
        </include>
        from shopping_cart t
        where 1=1 and t.status in ('I','S','G')
        <if test="cartId!=null and cartId !=''">
            and t.cart_id = #{cartId}
        </if>
        <if test="userId!=null and userId !=''">
            and t.user_id = #{userId}
        </if>
        ORDER BY t.add_at DESC
    </select>

    <!-- 更新价格,状态,数量,删除 -->
    <update id="updateCart" parameterType="domain.Cart">
        update shopping_cart  set update_at= CURRENT_TIMESTAMP(0)
        <if test="userId != null and userId!=''">
            ,user_id=#{userId}
        </if>
        <if test="skuId != null and skuId!=''">
            ,sku_id=#{skuId}
        </if>
        <if test="itemId != null and itemId!=''">
            ,item_id=#{itemId}
        </if>
        <if test="amount != null and amount!=''">
            ,amount=#{amount}
        </if>
        <if test="price != null and price!=''">
            ,price=#{price}
        </if>
        <if test="destroyAt != null and destroyAt!=''">
            ,destroy_at=CURRENT_TIMESTAMP(0)
        </if>
        <if test="orderId != null and orderId!=''">
            ,order_id=#{orderId}
        </if>
        <if test="status != null and status!=''">
            ,status=#{status}
        </if>
        <if test="skuTitle != null and skuTitle!=''">
            ,sku_title=#{skuTitle}
        </if>
        where 1=1
        <if test="cartId!=null and cartId !=''">
            and cart_id = #{cartId}
        </if>
        <if test="userId!=null and userId !=''">
            and user_id = #{userId}
        </if>
    </update>

    <insert id="addCart" parameterType="domain.Cart" useGeneratedKeys="true" keyProperty="cartId">
        insert into shopping_cart (user_id
        ,sku_id
        ,item_id
        ,amount
        ,price
        ,status
        ,sku_title
        ,add_at)
        values(#{userId},
        #{skuId},
        #{itemId},
        #{amount},
        <if test="price != null and price!=''">
            #{price},
        </if>
        <if test="price == null or price==''">
            default,
        </if>
        <if test="status != null and status!=''">
            #{status},
        </if>
        <if test="status == null or status==''">
            default,
        </if>
        <if test="skuTitle != null and skuTitle!=''">
            #{skuTitle},
        </if>
        <if test="skuTitle == null or skuTitle==''">
            default,
        </if>
        CURRENT_TIMESTAMP(0)
        )
    </insert>
</mapper>
