<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.SkuMapper">

    <!--enable mybatis default cache configure reference:
        https://mybatis.github.io/mybatis-3/zh/sqlmap-xml.html#cache
    -->
    <!--<cache/>-->

    <sql id="invColumns">
        ${alias}.id ,
        ${alias}.item_id ,
        ${alias}.item_color ,
        ${alias}.item_size ,
        ${alias}.amount ,
        ${alias}.item_src_price ,
        ${alias}.item_price ,
        ${alias}.item_cost_price ,
        ${alias}.item_discount ,
        ${alias}.sold_amount ,
        ${alias}.rest_amount ,
        ${alias}.inv_img ,
        ${alias}.item_preview_imgs::text ,
        ${alias}.or_destroy ,
        ${alias}.destroy_at ,
        ${alias}.update_at ,
        ${alias}.create_at ,
        ${alias}.or_master_inv ,
        case
            when ${alias}.start_at &gt;CURRENT_TIMESTAMP(0) then 'P'
            when ${alias}.end_at  &lt;CURRENT_TIMESTAMP(0) then 'D'
            else ${alias}.state
        end as state,
        ${alias}.inv_area ,
        case
            when ${alias}.inv_area='H' then '杭州保税仓备货'
            when ${alias}.inv_area='G' then '广州保税仓备货'
            when ${alias}.inv_area='S' then '上海保税仓备货'
            when ${alias}.inv_area='SZ' then '上海保税区直邮'
            when ${alias}.inv_area='GZ' then '广州保税仓直邮'
            when ${alias}.inv_area='HZ' then '杭州保税仓直邮'
            when ${alias}.inv_area='K' then '海外直邮'
            else '其它'
        end as inv_area_nm,
        ${alias}.restrict_amount ,
        ${alias}.inv_title ,
        ${alias}.inv_customs ,
        ${alias}.inv_weight ,
        COALESCE(${alias}.postal_tax_rate,(select f.rate from tax_code f where f.code = t.postal_tax_code)) as
        postal_tax_rate,
        ${alias}.carriage_model_code,
        (select parameter_val from sys_parameter where parameter_code='POSTAL_STANDARD') as postalStandard,
        (select parameter_val from sys_parameter where parameter_code='POSTAL_LIMIT') as postalLimit
    </sql>

    <!---  获取用户购物车,以用户ID或者CartID    -->

    <select id="getInv" resultType="domain.Sku" parameterType="domain.Sku">
        select
        <include refid="invColumns">
            <property name="alias" value="t"/>
        </include>
        from inventories t where 1=1
        <if test="id != null and id!=''">
            and t.id=#{id}
        </if>
        <if test="itemId != null and itemId!=''">
            and t.item_id=#{itemId}
        </if>
    </select>

    <update id="updateInv" parameterType="domain.Sku">
        update inventories set update_at= CURRENT_TIMESTAMP(0)
        <if test="soldAmount != null and soldAmount!=''">
            ,sold_amount=#{soldAmount}
        </if>
        <if test="restAmount != null and restAmount!=''">
            ,rest_amount=#{restAmount}
        </if>
        <if test="state != null and state!=''">
            ,state=#{state}
        </if>
        where 1=1
        <if test="id != null and id!=''">
            and id=#{id}
        </if>
    </update>

    <!--获取系统参数表-->
    <sql id="sysParameterColumns">
        ${alias}.sys_id ,
        ${alias}.parameter_nm ,
        ${alias}.parameter_val ,
        ${alias}.parameter_code
    </sql>
    <select id="getSysParameter" parameterType="domain.SysParameter" resultType="domain.SysParameter">
        select
        <include refid="sysParameterColumns">
            <property name="alias" value="t"/>
        </include>
        from sys_parameter t where 1=1
        <if test="sysId != null and sysId!=''">
            and t.sys_id=#{sysId}
        </if>
        <if test="parameterCode != null and parameterCode!=''">
            and t.parameter_code=#{parameterCode}
        </if>
    </select>


    <!--获取邮费模版-->
    <select id="getCarriage" parameterType="domain.Carriage" resultType="domain.Carriage">
        SELECT c1.id,
        c1.add_fee,
        c1.add_num,
        c1.city_code,
        c1.first_fee,
        c1.first_num,
        c1.model_code,
        c1.model_name
        FROM carriage c1
        WHERE 1=1
        <if test="cityCode!=null and cityCode!=''">
            and c1.city_code = #{cityCode}
        </if>
        <if test="cityCode==null or cityCode==''">
            and c1.city_code = 'ALL'
        </if>
        <if test="modelCode!=null and modelCode!=''">
            and c1.model_code = #{modelCode}
        </if>
    </select>
</mapper>
