@(params:Map[String,String])

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/assets/stylesheets/pay.css">
</head>
<body>
<div class="pay-change">
    <span>请选择支付方式</span>
    <em>9.9元</em>
</div>
<hr>
<div class="jingdong pay" onclick="jdPost()">
    <span>京东支付</span>
    <em>京东旗下 安全极速支付</em>

    <div class="right-icon"></div>
</div>
<hr>
<div class="weixin pay">
    <span>微信支付</span>
    <em>仅安装微信6.0.2及以上版本客户端使用</em>

    <div class="right-icon"></div>
</div>
<div style="display:none">
    <form id="jdsubmit" name="jdsubmit" action="https://cbe.wangyin.com/cashier/mobile/payment" method="POST">
        @params.foreach {
        case (k, v) => {
                <input type="hidden" name="@k" value="@v"/>
            }
        }
    </form>
    <script>
        function jdPost(){
            document.forms['jdsubmit'].submit();
        }
    </script>
</div>
<hr>
</body>
</html>