<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/assets/stylesheets/pay.css">
</head>
<body style=" background: rgb(240,240,240);">
<div class="order-pay">
    <h2>订单支付</h2>
    <hr>
    <div class="order-fni">
        <div class="pay-suc">
            <div class="icon-order-fail"></div>
            <h1>订单支付失败</h1>
        </div>
        <div class="btn-pay">
            <button>重新支付</button>
            <button>回首页</button>
        </div>
    </div>
</div>
</body>
</html>