@(weiXinJsApi:domain.WeiXinJsApi)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico">
        <link rel="stylesheet" href="/assets/stylesheets/pay.css">
        <script src="/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/assets/js/pay.js"></script>
    </head>
    <body onload="callpay('@weiXinJsApi.getAppId()','@weiXinJsApi.getTimeStamp()','@weiXinJsApi.getNonceStr()','@weiXinJsApi.getPg()',
        '@weiXinJsApi.getSignType()','@weiXinJsApi.getPaySign()','@weiXinJsApi.getOrderId()','@weiXinJsApi.getToken()','@weiXinJsApi.getSecurityCode()')">
    </body>
</html>